<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
 
  <div class="fundoimg">
    <div id="container">
      <div class="azul">
      <strong>O Melhor Lugar Para Deixar o Seu Bixinho Voce Encontra Aqui</strong>

      <div class="button">

       
        <ion-button color="primary" routerLink="/login/">Login</ion-button>
      </div>
      
      <div class="icon">
        <img src="../../assets/icon/animal-care.png" alt="" srcset="">
      </div>
    </div>
      

    </div>

  </div>
</ion-content>